
@{
    ViewBag.Title = "Principal";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    CARGA DE TRABAJO
                </h1>
                <div class="text-xl-center">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Parametros de entrada</h5>
                                </div>
                                <div class="ibox-content">
                                    <form>
                                        <div class="form-group">
                                            <label for="PorcentajeCapacidad">Porcentaje Capacidad Operarios</label>
                                            <input type="text" class="form-control" id="porcentajeCapacidad" aria-describedby="capacidad" placeholder="Ingresar Porcentaje Capacidad Operarios">
                                        </div>
                                        <div class="form-group">
                                            <label for="tiempoxTreabajo">Ingresar Tiempo por Trabajo:</label>
                                            <input type="text" class="form-control" id="tiempoxTrabajo" placeholder="Ingrese Tiempo por Trabajo">
                                        </div>
                                        <div class="form-group">
                                            <label for="SalarioxTrabajo">Ingresar Salario por Trabajo</label>
                                            <input type="text" class="form-control" id="salarioxTrabajo" placeholder="Ingrese Salario por Trabajo">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Calcular</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="ibox ">
                                <div class="ibox-content">
                                    <div>
                                        <canvas id="lineChart" height="140"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        @*TABLA RESULTADOS*@
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Tabla de Resultados</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#" class="dropdown-item">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-item">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table id="data-table" class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Meses</th>
                                        <th>Trabajos</th>
                                        <th>Salario</th>
                                        <th>Salario Penalizado</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <small>Universidad Don Bosco</small>
        </div>
    </div>
</div>


@section Scripts {

    <environment names="Development,Staging,Production">
        <script src="~/lib/chartJs/Chart.min.js"></script>
    </environment>
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    </environment>
    <script type="text/javascript">
        $(document).ready(function () {
            var datasource = { "Data": [{ "Id": 1, "Month": 1, "Jobs": 1, "Salario": 1, "PenaltySalary": 1 }, { "Id": 1, "Month": 1, "Jobs": 1, "Salario": 1, "PenaltySalary": 1 }, { "Id": 2, "Month": 2, "Jobs": 2, "Salario": 2, "PenaltySalary": 1 }] };

            var dataitems = [];
            $.each(datasource.Data, function (i, item) {
                var data = [];
                data.push(item.Id);
                data.push(item.Month);
                data.push(item.Jobs);
                data.push(item.Salario);
                data.push(item.PenaltySalary);
                dataitems.push(data);
            });
            $('#data-table').DataTable({
                data: dataitems,
                columns: [
                    { title: "Id" },
                    { title: "Month" },
                    { title: "Jobs" },
                    { title: "Salario" },
                    { title: "PenaltySalary" }
                ]
            });
        });

        $(document).ready(function () {

            $.get('https://' + window.location.host + '/api/demand', function (data) {
                const lineData = {
                    labels: data.months,
                    datasets: [

                        {
                            label: "Meses vs trabajos",
                            backgroundColor: 'rgba(26,179,148,0.5)',
                            borderColor: "rgba(26,179,148,0.7)",
                            pointBackgroundColor: "rgba(26,179,148,1)",
                            pointBorderColor: "#fff",
                            fill: false,
                            data: data.quantities,


                        }
                    ]
                };
                const lineOptions = {
                    responsive: true,

                };


                const ctx = document.getElementById("lineChart").getContext("2d");
                const myNewChart = new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });

                $("#lineChart").click(
                    function (evt) {
                        const activePoints = myNewChart.getElementsAtEvent(evt);
                        if (activePoints[0] != undefined) {
                            const activeMonth = activePoints[0]["_index"];

                            console.log(activeMonth);

                            //llenar ela tabla acorde al indice seleccionado que corresponde al mes
                        }
                    }
                );
            });







        });
    </script>
}
