<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Usuario</span>
                        <span class="text-muted text-xs block">General</span>
                    </a>
                    </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Main")">
                <a href="@Url.Action("Main", "Home")"><i class="fa fa-diamond"></i> <span class="nav-label">Principal</span> <span class="label label-primary float-right">Principal</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Home", action: "Minor")">
                <a href="@Url.Action("Minor", "Home")"><i class="fa fa-server"></i> <span class="nav-label">Reporte operarios</span></a>
            </li>
        </ul>
    </div>
</nav>